/*
Author: Advait, McClure
Date: 11/21/2016
Note: The attributes/tags/elements for http://depaul.beta.libanswers.com/
*/


@import url('https://files.dpulibrary.org/springshare/css/libcommon1020.css');    /*import settings common to all LibApps apps*/


/*Default color from LibCommon too hard to see here*/
.s-la-faq-answer a {
    text-decoration: underline;
    color: #2B4D74;
}

    
/* show only questions in browse list (Home Page, Single Search Page) */
.s-la-faq-listing-meta, .s-srch-result-meta {
    display: none;
} 

/* hide FAQ owner (FAQ page) */  
.s-la-faq-owner {
    display: none;
} 

/* hide browser bar in navigation (All pages)*/
ul.s-la-navbrowse, ul.s-la-navbrowse li{
    visibility:hidden;
}

/* Hide # answers + "Enter another question" text in search bar (Home Page, Single Search Page) */
.navbar .navbar-text{
  display:none;
}

/* Styleing for topic list in sidebar (Home page, FAQ page, custom page) */ 
.s-la-content-topic-list{
  padding:0;
  list-style:none;
  
}

@media only screen and (max-width: 66em) {
    #s-la-page-title-bar .navbar-collapse .nav.navbar-nav.s-la-navbrowse li {display:none;}
    #s-la-page-title-bar .navbar-collapse.in {overflow-y:hidden}
}
