/*import settings common to all LibApps apps*/
@import url('https://files.dpulibrary.org/springshare/css/libcommon0822.css');    

p {
    font-family: "Source Sans Pro",sans-serif !important;
    color: #565656;
    font-size: 14px;
}
a {
    color: #005c96;
    text-decoration: none
}
a:hover {
    color: #005c96;
}
.header-text-properties {
    font-family: "Open Sans Condensed",sans-serif !important;    
    font-size: 20px !important;
    color: #565656;
    border-bottom: 1px solid #cccccc;
    font-weight: 700;
}
#mainform label {
    font-size: 16px;
    font-family: "Open Sans Condensed",sans-serif !important;
    font-weight: bold;
    color: #565656;
}
#logo {
    font-size: initial;
    text-align: center;
    padding-top: unset;
    padding-bottom: unset;
}
.required_field {
    margin-left: 2px;
}
.field-label strong {
    min-width: 108px;
    display: inline-block;
}
.btn-primary {
    font-family: "Source Sans Pro",sans-serif !important;
}
.field-type-checkbox .field-input {
    font-size: 16px;
    font-family: "Open Sans Condensed",sans-serif !important;
    font-weight: bold;
    color: #565656;
}
.field-type-checkbox .field-input label:last-of-type {margin-bottom: 4px;}
.field-type-checkbox .field-input br {display:none;}
.field-type-checkbox .field-input .input-sz-lg-other {float:right;}
