/*
Author: Advait, McClure
Date: 11/21/2016
Note: The attributes/tags/elements for http://depaul.beta.libanswers.com/
*/



    
p.navbar-text, label.navbar-text, ul.s-la-navbrowse { // hide elements that reference librarians wanted removed from search bar (but no others)
 visibility:hidden;
}    