/*
Author: Advait, McClure
Date: 11/21/2016
Note: The attributes/tags/elements for http://depaul.beta.libanswers.com/
*/


@import url('http://fonts.googleapis.com/css?family=Source Sans Pro:400,600,400italic,600italic|Open Sans Condensed:300,700,300italic');

    body {
        font-family: "Source Sans Pro",sans-serif !important;	
        color: #565656;	
        font-size: 14px; 
        padding:0px 0px
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {    
        font-family: "Open Sans Condensed",sans-serif; 
        font-weight: bold;
        line-height: 1;
    }
/* Banner */
    /*Library Header*/
    .dpu-gradient{
        background-color: #2b4c72 ;
        height: 110px;
        border-top: 4px solid #052C41;
    }
    /*	banner with max width 66em*/
    @media only screen and (max-width: 66em){
        .dpu-banner {
            padding-top:1em!important;
        }
    }
    .dpu-banner {		 
        padding: 2.5em 20px 1.5em;
        color: #ffffff;
        font-size:130%;  
    }
    
    /*Depaul logo*/
    .dpu-logo-short {
        background: url('http://libservices.org/3rdpartycontent/libguides/images/dpu-logo-short.png') no-repeat scroll 0 0 transparent;
        /* old url
        background: url('http://libservices.org/3rdpartycontent/libguides/images/dpu-logo-short.png') no-repeat scroll 0 0 transparent;*/
        width: 190px;
        height: 45px;
        border-right: 2px solid #FFF;
    }
    /*depaul logo change when width change to 66em*/
    @media only screen and (max-width: 66em){
        .dpu-logo-short{
            /* changed by christine */
            background: url('http://libservices.org/3rdpartycontent/libguides/images/logoo.png') no-repeat scroll 0% 0% transparent;
            /* old url  
            background: url('http://libservices.org/3rdpartycontent/libguides/images/logoo.png') no-repeat scroll 0% 0% transparent;  */
            width:250px; 
            height:80px;   
            border-right:none;
        }
    }
    /*Logo change again when width change to the 40em. */
    @media only screen and (max-width: 40em) {
        .dpu-logo-short {
            background: url('http://libservices.org/3rdpartycontent/libguides/images/smalllogo.png') no-repeat scroll 0 0 transparent;
            /* old url
            background: url(http://libservices.org/3rdpartycontent/libguides/images/smalllogo.png) no-repeat scroll 0 0 transparent; */
            width: 200px;
            height: 60px;
            border-right: none;
        }
    }

/*Depaul Library Text*/
    .dpu-banner-text {
        padding-left: 20px;
    }
    .h1{
        font-size:28px;
        font-family:"Open Sans Condensed",sans-serif;
        line-height:1.5;
        font-weight:bold;
    }
    /*h1 tag for header text*/
    @media only screen and (max-width: 66em){
        .h1{display:none;
        }
    }
    .dpu-banner-text>a:hover {
        color: #fff;
    }
a {
        color: #777;
        text-decoration: none;
    }

    a:hover,a:focus {
        color: #777;
    }

/* Navigation bar change when max width equal to 66em*/ 
    @media only screen and (max-width: 66em){
        .navbar-nav{
            font-family:"Open Sans Condensed",sans-serif;
            font-size:1.1em!important;
            font-weight:700;
        }
    }

/*when navigation bar collapse. */
    .navbar-nav {
        font-family: "Open Sans Condensed",sans-serif;
        font-size: 1.3em;
        font-weight: 700;
        padding-top: 0;
        margin-top: -1px;
    }
    .nav .navbar-nav {
        width: 430px;
        height: 50px;
    }

    .navbar {
        position: relative;
        min-height: 0;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

.navbar-inverse {
        background: #f0ede4;
        border-color: #bbb;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #284b6e;
        font-weight: 700;
    }

    .navbar-inverse .navbar-collapse {
    }

    .navbar-collapse .navbar-nav > li > a:hover,.navbar-collapse .navbar-nav > li > a:focus {
        background-color: #284b6e;
        color: #fff;
        display: block !important;
        width: 100%;
    }

#btn-ask {
        background-color: #2dba6f;
        color: #fff;
        margin: 2px 0;
    }

/*Research Guide */
    .navbar-brand {
        float: left;
        font-size: 18px;
        padding-top: 8px;
        height: 0;
        line-height: 30px;
    }

/* More Guide */
    .dropdown-menu>li>a {
        font-family: "Open Sans Condensed",sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #284b6e;
        padding: .55em 1em;
        font-size: 1em;
    }

/* code from libcommon.css ends here */

/* code from libguides.css starts */
div.s-lg-az-result-keywords span.bold {
        font-weight: normal;
    }

/* LibGuides Overrides */
    .pager {
        width:75%
    } 
    a.dpu-logo-short, a.dpu-logo-short:hover {
        text-decoration:none; 
    }

/* bootstrap overrides */   
    #s-lg-tabs-container .nav-pills > li > a{
        color:#555;
        background: linear-gradient(to bottom, #F5F5F5 1%, #ECECEC 100%) repeat scroll 0% 0% transparent;border-bottom:1px solid #D1D1D1;
    }   
    #s-lg-tabs-container .nav-pills > li > a{   
        color:#555;
        background: linear-gradient(to bottom, #F5F5F5 1%, #ECECEC 100%) repeat scroll 0% 0% transparent;border-bottom:1px solid #D1D1D1;
    }
    #s-lg-tabs-container .nav-pills > li .active{
        color:#555;
        background: #284B6E;
    }
    #s-lg-tabs-container .nav-pills > .active > a{
        color:#ffffff;  
    } 
    #s-lg-tabs-container .nav-pills >.active > a:hover{
        color:#555;
        background:#7197c2!important;
    }
    #s-lg-tabs-container .nav-pills > li > a:hover{
        color:#555;
        background:#7197c2!important;
        font-weight:bold;
    }
    .s-lib-box .s-lib-box-title{
        font-size:20px;
        color:#565656;
        background-color:#ffffff;
    }
    .s-lib-box{
        border:none;
        box-shadow:none;
    }
    #s-lg-guide-name, #s-lib-public-header-title  {
        color: rgba(9, 70, 101, 0.9);
        font-size: 30px;font-weight: 700;
    }
    .s-lib-box h1{
        font-size:18px;
    }
    .s-lib-box h2{
        font-size:16px;
    }
    .s-lib-box h3{
        font-size:14px;
    }
    .s-lib-box h4, .s-lib-box h5 {
        font-size:13px;
    }
    .s-lib-box body{
        font-family:"Source Sans Pro", sans-serif;
    }
    .s-lib-box a:link,.s-lib-box a:visited{
        color:#005c96;
        text-decoration:none;
    }
    .s-lib-box a:hover{
        color:#005c96;
        text-decoration:underline;
    }
    .s-lg-link-list li {
        padding-bottom: 10px;
    }

/*  Font style override for Tabbed content and other UI widgets  */
    .ui-widget {
        font-family: "Source Sans Pro",sans-serif !important;
    }
    /* Carousel Styling */
    .carousel a:link {
        color:white;
        font-size:60px;
    }
    .carousel a:hover{
        text-decoration:none;
    }

 /* Email button styling */
    .s-lib-profile-email a:link {
        color: #ffffff;
    }
    /* Multi-disciplinary styling */
    .multidis {
        color: #4796B3;
    }
    /* Popover Style*/
    .popover-title
    {
        font-size: 16px;
    }

span[title="Last update"],span[title="Number of visits this year"] {
        display:none;
    }
    @media (max-width: 767px) {
        navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #284b6e;
    }
/* code from libguides.css ends */

/* code from libcal.css starts */
@media (min-width: 1200px){
        #s-lc-rm-cal .ui-datepicker {
            width: 17em;}
    }

    #s-lc-public-skiplink {display:none;}


    }

    .nav>li>a {
        padding: 8px 12px;
    }
.s-lc-box-container h1 {
        font-size: 18px;
    }

    .s-lc-box-container h2 {
        font-size: 16px;

    }

    .s-lc-box-container h3 {
        font-size: 14px;
    }

    .s-lc-box-container,.s-lc-box-container h5 {
        font-size: 13px;
    }

    .room-type-box {
        padding:5px;
        border: solid #f1f1f1 thin;
        margin: 20px 0px 10px 0px;
    }

    .resbox{
        min-height:180px;
        background-color: #F8F8F8;
        padding: 20px;
        margin: 5px 0px 5px 0px;
    }

    .resbox img {
        padding-left:10px;
        padding-bottom:10px;
    }
@media (max-width: 767px)
    {
        navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open      .dropdown-menu>li>a:hover {
            background-color: #284b6e; }
    }

    .dropdown-menu{
        font-size:12px;
    }

    .navbar-collapse{
        max-height:400px; 
    }

/* update on Nov'28 */
.s-la-navbrowse{
visibility:hidden;
}

label
{
visibility:hidden;
}

.navbar-text
{
visibility:hidden;
}