@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic%7COpen+Sans+Condensed:300,700,300italic');
#mainform label {font-size: 18px;}
#mainform label.radio,
#mainform label.checkbox {font-family: "Source Sans Pro",sans-serif !important;font-weight: normal;font-size: 17px;}
div.field-input {width: 80%;float:right;}
div#form_button_row {width: 80%;float:right;padding-left:18px;}
button#form_save {background-color: #337ab7;}
button#form_save:hover {background-color: #286090;}