/*
Author: Advait, McClure
Date: 11/2/2016
Note: The common attributes/tags/elements
*/

@import url('http://fonts.googleapis.com/css?family=Source Sans Pro:400,600,400italic,600italic|Open Sans Condensed:300,700,300italic');

    body {
        font-family: "Source Sans Pro",sans-serif !important;	
        color: #565656;	
        font-size: 14px; 
        padding:0px 0px
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {    
        font-family: "Open Sans Condensed",sans-serif; 
        font-weight: bold;
        line-height: 1;
    }
    /* Banner */
    /*Library Header*/
    .dpu-gradient{
        background-color: #2b4c72 ;
        height: 110px;
        border-top: 4px solid #052C41;
    }
    /*	banner with max width 66em*/
    @media only screen and (max-width: 66em){
        .dpu-banner {
            padding-top:1em!important;
        }
    }
    .dpu-banner {		 
        padding: 2.5em 20px 1.5em;
        color: #ffffff;
        font-size:130%;  
    }
    .dpu-banner {
        padding: 2.5em 20px 1.5em;
        color: #fff;
        font-size: 130%;
    }
    /*Depaul logo*/
    .dpu-logo-short {
        background: url('http://libservices.org/3rdpartycontent/libguides/images/dpu-logo-short.png') no-repeat scroll 0 0 transparent;
        width: 190px;
        height: 45px;
        border-right: 2px solid #FFF;
    }
    /*depaul logo change when width change to 66em*/
    @media only screen and (max-width: 66em){
        .dpu-logo-short{
            background: url('http://libservices.org/3rdpartycontent/libguides/images/logoo.png') no-repeat scroll 0% 0% transparent;  
            width:250px; 
            height:80px;   
            border-right:none;
        }
    }
    /*Logo change again when width change to the 40em. */
    @media only screen and (max-width: 40em) {
        .dpu-logo-short {
            background: url(http://libservices.org/3rdpartycontent/libguides/images/smalllogo.png) no-repeat scroll 0 0 transparent;
            width: 200px;
            height: 60px;
            border-right: none;
        }
    }
    /*Depaul Library Text*/
    .dpu-banner-text {
        padding-left: 20px;
    }
    .h1{
        font-size:28px;
        font-family:"Open Sans Condensed",sans-serif;
        line-height:1.5;
        font-weight:bold;
    }
    /*h1 tag for header text*/
    @media only screen and (max-width: 66em){
        .h1{display:none;
        }
    }
    .dpu-banner-text>a:hover {
        color: #fff;
    }

    a {
        color: #777;
        text-decoration: none;
    }

    a:hover,a:focus {
        color: #777;
    }
    /* Navigation bar change when max width equal to 66em*/ 
    @media only screen and (max-width: 66em){
        .navbar-nav{
            font-family:"Open Sans Condensed",sans-serif;
            font-size:1.1em!important;
            font-weight:700;
        }
    }
    /*when navigation bar collapse. */
    .navbar-nav {
        font-family: "Open Sans Condensed",sans-serif;
        font-size: 1.3em;
        font-weight: 700;
        padding-top: 0;
        margin-top: -1px;
    }
    .nav .navbar-nav {
        width: 430px;
        height: 50px;
    }

    .navbar {
        position: relative;
        min-height: 0;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .navbar-inverse {
        background: #f0ede4;
        border-color: #bbb;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #284b6e;
        font-weight: 700;
    }

    .navbar-inverse .navbar-collapse {
    }

    .navbar-collapse .navbar-nav > li > a:hover,.navbar-collapse .navbar-nav > li > a:focus {
        background-color: #284b6e;
        color: #fff;
        display: block !important;
        width: 100%;
    }

    #btn-ask {
        background-color: #2dba6f;
        color: #fff;
        margin: 2px 0;
    }

    /*Research Guide */
    .navbar-brand {
        float: left;
        font-size: 18px;
        padding-top: 1px;
        height: 0;
        line-height: 30px;
    }

    /* More Guide */
    .dropdown-menu>li>a {
        font-family: "Open Sans Condensed",sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #284b6e;
        padding: .55em 1em;
        font-size: 1em;
    }
