@import url(https://use.typekit.net/zfg2vfd.css);

html, body{
    font-family: "urw-din",sans-serif;	
    font-weight:normal;
    font-size:14px;
}

.nav, .nav-pills, .breadcrumb {
    font-family: "terso", sans-serif;
    font-weight: normal;
  }
  
  .navbar-nav {
    font-weight:bold;
    font-size:12px;
  }