Hello {{{FIRST_NAME}}},

The following bookings have been {{#MEDIATED_ROOM_TIMES}}submitted{{/MEDIATED_ROOM_TIMES}}{{^MEDIATED_ROOM_TIMES}}confirmed{{/MEDIATED_ROOM_TIMES}}:

{{#BOOKINGS}}
{{location.name}}{{#zone}} >> {{zone.name}}{{/zone}}{{#seat}} >> {{item.name}}{{/seat}}
<strong>{{resource.name}}</strong>: {{times}}{{#COST}}{{#cost}} ({{cost}}){{/cost}}{{/COST}}{{#map}} (<a href="{{map}}">Map</a>){{/map}}.

{{/BOOKINGS}}

{{#MEDIATED_ROOM_TIMES}}
You will receive an additional follow up email with the Library's decision.
{{/MEDIATED_ROOM_TIMES}}

{{#ROOM_DIRECTIONS}}
Directions:
{{{ROOM_DIRECTIONS}}}{{/ROOM_DIRECTIONS}}

{{{CATEGORY}}}

{{{ADDITIONAL_INFORMATION}}}

{{#COST}}The total cost of this reservation is {{COST}}.{{^MEDIATED_ROOM_TIMES}}{{#BOOKING_URL}}

To pay for this booking visit: <a href="{{{BOOKING_URL}}}">{{{BOOKING_URL}}}</a>{{/BOOKING_URL}}{{/MEDIATED_ROOM_TIMES}}{{/COST}}

{{#CHECK_IN_URL}}When you arrive for your booking:
1. Scan the QR code next to your space (if QR code is available), or <a href="{{{CHECK_IN_URL}}}">click this link</a> to check in
2. Enter this code: <strong>{{CHECK_IN_CODE}}</strong>{{/CHECK_IN_URL}}
{{^CHECK_IN_URL}}{{#CHECK_IN_CODE}}Your check in code is: <strong>{{CHECK_IN_CODE}}</strong>{{/CHECK_IN_CODE}}{{/CHECK_IN_URL}}

To cancel this booking visit: {{{CANCEL_URL}}}
