#ieWarning{
  padding: 20%;
  background:yellow;
  color:black;
}


/* line 37, ../scss/main.scss */
html, body {
  font-family: "Varela", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background: #dbb6a3;
}
/* line 45, ../scss/main.scss */
html .grid, body .grid {
  background: #c67c3d;
  color: #37272a;
  border: 2px solid #37272a;
}
/* line 51, ../scss/main.scss */
html a, body a {
  font-family: "Montserrat", san-serif;
  font-weight: 700;
  color: #632109;
}
/* line 57, ../scss/main.scss */
html blockquote, body blockquote {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
}
/* line 63, ../scss/main.scss */
html a, body a {
  text-decoration: none;
}
/* line 67, ../scss/main.scss */
html a:hover, body a:hover {
  text-decoration: underline;
}
/* line 70, ../scss/main.scss */
html ul, body ul {
  list-style: none;
}
/* line 72, ../scss/main.scss */
html ul li, body ul li {
  margin: 0 0 30px 0;
}

/* line 79, ../scss/main.scss */
ul.specials li {
  margin: 0 0 30px 0;
}
/* line 82, ../scss/main.scss */
ul.specials .cal-date {
  margin: 0 8px 0 0;
}
/* line 85, ../scss/main.scss */
ul.specials .cal-title {
  margin: 0 8px 0 0;
}

/* line 90, ../scss/main.scss */
#beer_menu .special {
  display: none;
}

/* line 92, ../scss/main.scss */
.bump-down {
  margin-top: 60px;
}

/* line 94, ../scss/main.scss */
.bump-left {
  margin-left: 20px;
}

/* line 97, ../scss/main.scss */
h1, h2, h3, h4, #menu_widget table.beermenu caption {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  color: #553c41;
}

/* line 102, ../scss/main.scss */
h1 {
  font-size: 34px;
  line-height: 32px;
}

/* line 106, ../scss/main.scss */
h2 {
  font-size: 30px;
  line-height: 28px;
}

/* line 110, ../scss/main.scss */
h3 {
  font-size: 26px;
  line-height: 24px;
}

/* line 114, ../scss/main.scss */
img {
  max-width: 100%;
}

/* line 118, ../scss/main.scss */
img.swag {
  width: 40%;
  float: left;
}

/* line 121, ../scss/main.scss */
.col-right {
  text-align: right;
}

/* line 124, ../scss/main.scss */
header .header, header .header h1 a, nav {
  color: #c67c3d;
}

/* line 125, ../scss/main.scss */
header .header {
  background: #37272a;
}
/* line 127, ../scss/main.scss */
header .header a {
  color: #cd997e;
  font-weight: 200;
}
/* line 131, ../scss/main.scss */
header .header h1 a, header .header p {
  color: #b64902;
}
/* line 132, ../scss/main.scss */
header .header h1 a {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
}

/* line 137, ../scss/main.scss */
header {
  text-align: center;
}
/* line 138, ../scss/main.scss */
header h1 {
  font-size: 78px;
  line-height: 68px;
}
/* line 142, ../scss/main.scss */
header h1 a:hover {
  text-decoration: none;
}
/* line 143, ../scss/main.scss */
header p {
  font-size: 20px;
  margin: 20px;
}
/* line 148, ../scss/main.scss */
header .col-right {
  text-align: center;
  padding: 0 0 10px 0;
}

/* line 152, ../scss/main.scss */
nav {
  margin-top: 0;
  background: rgba(55, 39, 42, 0.7);
}
/* line 155, ../scss/main.scss */
nav a {
  display: block;
  margin: 0 0 0 30%;
  padding: 8px 14px;
  color: #cd997e;
}
/* line 161, ../scss/main.scss */
nav a:hover {
  background: #37272a;
  text-decoration: none;
}

/* line 163, ../scss/main.scss */
.nav {
  background-color: #37272a;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 28.58%;
  /* (img-height 1200 / img-width * 343 container-width) */
  margin: 0 0 200px 0;
}

/* line 172, ../scss/main.scss */
.nav-fix {
  padding: 0;
  margin: -2px 0 0 0;
}

/* line 177, ../scss/main.scss */
#home .nav {
  background-image: url("../images/bar-and-patio-door.jpg");
}

/* line 180, ../scss/main.scss */
#on-tap .nav {
  background-image: url("../images/taps.jpg");
}

/* line 183, ../scss/main.scss */
#events .nav {
  background-image: url("../images/patio.jpg");
}

/* line 186, ../scss/main.scss */
#pool .nav {
  background-image: url("../images/pool-table.jpg");
}

/* line 189, ../scss/main.scss */
#bands .nav {
  background-image: url("../images/bar.jpg");
}

/* line 192, ../scss/main.scss */
#parking .nav {
  background-image: url("../images/parking.jpg");
}

/* line 197, ../scss/main.scss */
footer {
  text-align: center;
}
/* line 199, ../scss/main.scss */
footer .hours {
  padding: 20px 0;
}
/* line 202, ../scss/main.scss */
footer .icons {
  clear: both;
}
/* line 205, ../scss/main.scss */
footer .footer {
  background: #37272a;
  color: #cd997e;
  font-size: 18px;
  font-weight: 100;
}
/* line 210, ../scss/main.scss */
footer .footer p {
  margin: 0;
}
/* line 211, ../scss/main.scss */
footer .footer a {
  color: #b64902;
  font-weight: 100;
}
/* line 212, ../scss/main.scss */
footer .footer .credits {
  font-size: 16px;
}

/* line 218, ../scss/main.scss */
.events {
  padding: 10px 0 0 0;
  font-size: 18px;
  line-height: 22px;
}
/* line 222, ../scss/main.scss */
.events li {
  margin: 20px 0 40px 0;
}
/* line 224, ../scss/main.scss */
.events li .cal-date, .events li .cal-title {
  display: inline-block;
  font-size: 26px;
  font-family: "Righteous", sans-serif;
  font-weight: normal;
  color: #553c41;
}
/* line 231, ../scss/main.scss */
.events li .cal-date {
  color: #37272a;
  font-size: 22px;
}
/* line 235, ../scss/main.scss */
.events li .cal-desc {
  display: block;
}

/* line 243, ../scss/main.scss */
.hide, .updated-at, .serving-types, #feedly-mini {
  display: none;
}

/* line 244, ../scss/main.scss */
.grid #menu_widget {
  margin: 0 auto;
}
/* line 246, ../scss/main.scss */
.grid #menu_widget table.beermenu {
  color: #37272a;
}
/* line 247, ../scss/main.scss */
.grid #menu_widget table.beermenu caption {
  font-size: 34px;
  font-weight: 200;
}
/* line 252, ../scss/main.scss */
.grid #menu_widget table.beermenu th {
  background: #a1632f;
  color: black;
  border: 4px solid #a1632f;
  text-transform: none;
  font-weight: 600;
}
/* line 259, ../scss/main.scss */
.grid #menu_widget table.beermenu .beer-descriptions td.beer-description {
  border: none;
  border-bottom: 1px solid #794b24;
}
/* line 263, ../scss/main.scss */
.grid #menu_widget table.beermenu .strong {
  font-size: 20px;
}

/* line 267, ../scss/main.scss */
#beer-sub-nav {
  margin: 0 0 20px 0;
}
/* line 269, ../scss/main.scss */
#beer-sub-nav li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  font-size: 18px -2px;
}
/* line 276, ../scss/main.scss */
#beer-sub-nav li.active {
  font-size: 22px;
  color: #553c41;
}

@media only screen and (max-width: 400px) {
  	/* Force table to not be like tables anymore 
    https://css-tricks.com/responsive-data-tables */
  /* line 292, ../scss/main.scss */
  #beer-sub-nav li {
    display: block;
    width: 80%;
    margin: 10px 10%;
  }
  /* line 297, ../scss/main.scss */
  #beer-sub-nav li:last-child {
    margin-bottom: 40px;
  }

  /* line 300, ../scss/main.scss */
  #menu_widget table.beermenu {
    display: block;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  /* line 303, ../scss/main.scss */
  #menu_widget table.beermenu thead, #menu_widget table.beermenu tbody, #menu_widget table.beermenu th, #menu_widget table.beermenu td, #menu_widget table.beermenu tr, #menu_widget table.beermenu caption {
    display: block;
  }
  /* line 307, ../scss/main.scss */
  #menu_widget table.beermenu thead th {
    font-size: 14px;
    display: inline;
    float: left;
    width: 25%;
  }
  /* line 314, ../scss/main.scss */
  #menu_widget table.beermenu td:first-child {
    clear: both;
  }
  /* line 317, ../scss/main.scss */
  #menu_widget table.beermenu span.strong {
    text-transform: uppercase;
    font-size: 20px;
  }

  /* line 325, ../scss/main.scss */
  #beer_menu #cocktails .cocktails-section th.abv, #beer_menu #cocktails .cocktails-section th.serving {
    background: #a1632f;
    border-color: #a1632f;
  }
}
@media only screen and (max-width: 1139px) {
  /* line 334, ../scss/main.scss */
  html body .grid header .header {
    background: #c67c3d;
  }
  /* line 336, ../scss/main.scss */
  html body .grid header .header a {
    color: #632109;
  }
  /* line 339, ../scss/main.scss */
  html body .grid header .header h1 a, html body .grid header .header p {
    color: #37272a;
  }
  /* line 340, ../scss/main.scss */
  html body .grid header .header h1 a {
    font-weight: 600;
  }
  /* line 343, ../scss/main.scss */
  html body .grid nav a:hover {
    background: none;
    color: #37272a;
  }
}
@media only screen and (min-width: 1140px) {
  /* line 352, ../scss/main.scss */
  header {
    text-align: left;
  }
  /* line 353, ../scss/main.scss */
  header h1 {
    line-height: 18px;
  }
  /* line 355, ../scss/main.scss */
  header .col-right {
    text-align: right;
  }
  /* line 356, ../scss/main.scss */
  header p {
    margin: 2px;
  }
  /* line 357, ../scss/main.scss */
  header #cary {
    margin-left: 40px;
  }

  /* line 359, ../scss/main.scss */
  .nav {
    margin: 0;
  }
  /* line 361, ../scss/main.scss */
  .nav nav {
    margin-top: -326px;
  }
  /* line 364, ../scss/main.scss */
  .nav nav a {
    display: inline-block;
    margin: 0 0 0 7%;
  }

  /* line 372, ../scss/main.scss */
  footer .hours {
    text-align: left;
    padding: 20px;
  }
  /* line 376, ../scss/main.scss */
  footer .icons {
    float: right;
    padding-top: 20px;
  }

  /* line 382, ../scss/main.scss */
  .events li .cal-title {
    display: inline-block;
    margin-left: 10px;
  }

  /* line 387, ../scss/main.scss */
  #beer-sub-nav li {
    margin: 10px 0 40px 3%;
  }

  /* line 388, ../scss/main.scss */
  body .grid #menu_widget {
    width: 100%;
    margin: 0 0 0 20px;
  }
  /* line 391, ../scss/main.scss */
  body .grid #menu_widget .active table.beermenu {
    width: 1000px;
  }
}
/* line 399, ../scss/main.scss */
header #notice {
  padding: 6px 10px;
}
